@import '~bootstrap/scss/bootstrap';
@import '~react-toastify/dist/ReactToastify.css';

.italic {
	font-family: 'Playfair Display', serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}
